@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pt-18 {
    padding-top: 4.5rem; /* 72px */
  }
  .top-18 {
    top: 4.5rem; /* 72px */
  }
  .h-18 {
    height: 4.5rem; /* 72px */
  }

  /* Hide scrollbar */
  .scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
